<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% stylesheets
    '@bootstrap_css'
%}

    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>

{% endstylesheets %}

</head>
  {% include('navbar.html.twig') %}

  <body>
  

    <div class="container">

      {% block body %}{% endblock %}	

    </div>

  </body>

{% javascripts
    '@jquery'
    '@bootstrap_js'
%}

    <script src="{{ asset_url }}"></script>

{% endjavascripts %}

	</html>